.info-button {
  background: var(--backgroung-color-higlight);
  border-radius: 8px;
  padding: 3px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background: var(--primary-color);
    color: #ffffff;
  }

  .icon {
    font-size: 24px;
    margin-right: 10px;
  }
  .caption {
    display: block;
    opacity: 0.5;
    font-weight: 600;
    font-size: 12px;
  }
  .icon-edit {
    margin-left: 10px;
  }
}
