.activity-board {
  display: flex;
  gap: 10px;
  border-radius: 12px;

  .board-list {
    border-radius: 8px;
    width: 300px;
    background: var(--background-color-body);

    .title {
      display: flex;
      font-weight: 600;
      padding: 10px;
      gap: 5px;
      align-items: center;
    }

    .items {
      overflow: auto;
      height: calc(100vh - 200px);
      padding: 0 10px;

      .activity-card {
        background: var(--background-color);
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 7px;
      }
    }
  }
}
