.file-information-wrapper {
  width: 270px;
  float: right;
  background: var(--background-color);
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 65px;
  height: calc(100dvh - 110px);
  border: 1px solid var(--border-color-active);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

  .information-header {
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-color);

    .file-name {
      flex: 1;
      padding: 15px 15px;
      display: flex;
      align-items: center;

      .label {
        flex: 1;
        color: #000;
        line-height: 17px;
        font-weight: 700;

        small {
          margin-top: 5px;
          display: block;
          color: #555555;
          opacity: 1;
        }
      }

      .button-delete {
        text-align: center;

        span {
          font-size: 18px;
        }
      }
    }
  }

  .information-content {
    padding: 0 15px 15px;
  }

  .selected-file-item:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }

  .selected-file-item {
    padding: 10px 0;
    display: flex;
    align-items: center;

    .icon {
      width: 25px;
      font-size: 25px;
      margin-right: 5px;
    }

    .file-info {
      .size {
        display: block;
        opacity: 0.5;
        font-size: 12px;
      }
    }
  }

  .iframe-viewer {
    border: 0;
    width: 100%;
    margin-bottom: 10px;
  }

  .activities-wrapper {
    position: relative;
    font-size: 13px;

    .activity {
      padding: 5px 0 10px 0;
      border-top: 1px dashed var(--border-color);

      &.verify {
        background: #d9ffcc;
        margin: 0 -20px;
        padding: 5px 20px 10px 20px;
      }

      .date {
        font-family: monospace;
        font-size: 11px;
        line-height: 11px;
        display: block;
        color: #999999;
      }

      .message {
        display: block;
        line-height: 17px;
      }

      small {
        font-size: 12px;
        line-height: 12px;
        color: #888888;
      }
    }
  }

  .image-preview {
    border: 1px solid var(--border-color);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin-bottom: 15px;

    a {
      height: 150px;
      display: block;
      background: center center no-repeat;
      background-size: contain;
      align-items: center;
      justify-content: center;
    }

  }

  .links-container {
    margin-top: 10px;

    .label {
      font-size: 12px;
      font-weight: 700;
    }

    pre {
      background: var(--background-color-body);
      padding: 1px 5px;
      border-radius: 6px;
      font-size: 12px;
      opacity: 0.7;
      font-family: monospace;
    }
  }
}

@media screen and (max-width: 500px) {
  .file-information-wrapper {
    position: absolute;
    top: 1px;
    bottom: 10px;
    right: 0;
    z-index: 2;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }
}

@media (prefers-color-scheme: dark) {
  .file-information-wrapper {
    .information-header {
      .file-name {
        .label {
          color: #ffffff;

          small {
            color: #dcdcdc;
          }
        }
      }
    }
  }
}
