.list-items {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  li {
    display: flex;
    align-items: center;
    padding: 0 5px 0 10px;
    border-bottom: 1px solid var(--border-color);

    &.active {
      background: var(--primary-color);
      border-color: var(--primary-color);
      color: #ffffff;

      & > .icon {
        color: #fff;
      }
    }

    & > .icon {
      opacity: 0.9;
    }

    a {
      flex: 1;
      padding: 8px 0;
      display: flex;
      align-items: center;
      color: var(--text-color);

      &.active {
        color: #fff;
      }

      .icon {
        font-size: 20px;
        display: inline-block;
        margin-right: 8px;
      }

      span.label {
        display: flex;
        flex-direction: column;

        small {
          margin-top: 3px;
          display: block;
          font-size: 10px;
          line-height: 10px;
        }
      }
    }
  }
}
