.shopping-cart-editor-container {
  border-bottom: 1px dashed #ddd;

  .shopping-cart-item {
    display: flex;
    gap: 15px;
    padding: 10px 0;
    align-items: center;
    min-height: 60px;
    border-top: 1px dashed #ddd;

    .name {
      flex: 1;
      font-size: 13px;
    }
  }
}
