.module-sidebar-wrapper {
  background: var(--backgroung-color);
  padding: 15px;
  max-width: 350px;
  min-width: 280px;
  overflow: auto;
}

.toggle-button {
  display: none;
  border: 1px solid #B1D4EE;
  border-radius: 0 5px 5px 0;
  padding: 5px 0;
  border-left: none;
  position: fixed;
  left: 0;
  text-align: center;
  top: 160px;
  width: 25px;
  background: #ffffff;
}

.module-nav-header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: -16px;
  align-items: center;
  padding-bottom: 10px;
  margin-top: -6px;
  border-bottom: 1px solid #efefef;
  z-index: 1;

  h4 {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

  small {
    color: #888888;
    font-size: 12px;
    line-height: 11px;
  }
}

.module-nav-footer {
  position: sticky;
  bottom: 0;
}

@media screen and (max-width: 500px) {
  .toggle-button {
    display: block;
    transition: all 0.7s;
    z-index: 2;

    &.open {
      left: 304px;
    }
  }

  .module-sidebar-wrapper {
    position: fixed;
    z-index: 1;
    bottom: 0;
    top: 52px;
    transform: translateX(-100%);
    transition: all 0.7s;

    &.open {
      transform: translateX(0%);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }
  }
}

@media (prefers-color-scheme: dark) {
  .module-sidebar-wrapper {
    border-color: #000000;
  }


  .module-nav-header {
    border-bottom-color: #333333;
  }
}
