.module-sidebar-wrapper {
  overflow: auto;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  position: sticky;
  top: 0;
  height: calc(100dvh - 20px);
  width: 280px;
  z-index: 2;
  border-right: 1px solid var(--border-color);

  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0.01, 1.15, 0.8, 0.99);
  animation-fill-mode: both;
  animation-name: sidebarFadeIn;

  .scroll-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-bottom: 60px;
  }

  .module-nav-header {
    background: var(--background-color);
    border-radius: 15px 15px 0 0;
    position: sticky;
    top: 0;
    padding: 10px 5px;
    z-index: 1;
    border-bottom: 1px solid var(--border-color);

    .title {
      padding: 0 10px;
      align-items: center;
      display: flex;
      justify-content: space-between;

      .hide-sidebar {
        display: none;
      }

      .actions {
        display: flex;
        gap: 5px;
      }

      h4 {
        font-size: 15px;
        font-weight: 600;
        margin: 0;
        padding: 0;
      }

      small {
        color: #888888;
        font-size: 12px;
        line-height: 11px;
      }
    }

    .header {
      margin-top: 5px;
    }
  }

  .module-nav-content {
    flex: 1;
    padding: 10px;
    min-height: 100px;
  }

  .module-nav-footer {
    background: var(--background-color);
    position: fixed;
    bottom: 0 !important;
    padding: 10px;
    left: 0;
    right: 0;
    border-top: 1px solid var(--border-color);

    .status-info {
      text-align: center;
      padding-top: 5px;
      border-top: 1px solid rgba(65, 114, 138, 0.16);
      margin-top: 10px;
      font-size: 12px;
      opacity: 0.6;
    }
  }
}

@media screen and (max-width: 700px) {
  .module-sidebar-wrapper {
    z-index: 5;
    transform: translateX(-100%);
    position: fixed;
    animation-name: none;
    opacity: 0;

    &.open {
      opacity: 1;
      transform: translateX(var(--main-nav-width));
      min-width: calc(100vw - var(--main-nav-width));
      max-width: calc(100vw - var(--main-nav-width));
    }
  }
}
