.icon-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 20px !important;
    margin-top: 0 !important;
  }

  &.small > svg {
    width: 15px !important;
  }
}
