.filter-form-container {
  padding: 8px 15px;
  background: var(--backgroung-color);
  border-radius: 8px;
  margin-bottom: 15px;

  label {
    font-weight: 600;
  }

  .ant-form-item-label {
    padding-bottom: 0 !important;
  }
  .ant-form-item {
    border-right: 1px solid var(--border-color);
    padding-right: 10px;
    margin-right: 10px;
  }
}
