.filter-form-container {
  border: solid var(--border-color-2);
  border-width: 1px 0;

  label {
    font-weight: 600;
  }

  .ant-form-item-label {
    padding-bottom: 0 !important;
  }
  .ant-form-item {
    border-right: 1px solid var(--border-color-2);
    padding: 10px 10px 10px 0;
    margin-right: 10px;
  }
  .primary-button {
    margin: 10px 0;
  }

  .filter-toggle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .filter-form-container {
    .ant-form-item-label {
      padding-bottom: 0 !important;
      width: 20%;
    }
    .ant-form-item {
      width: 100%;
      border-right: none;
      padding: 10px 0;
      margin-right: 0;
    }

    .primary-button {
      width: 100%;
    }

    .filter-toggle {
      display: block;
    }
  }
}
