.content-viewer-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;

  .file-navigator-wrapper {
    position: relative;
  }
}


.drop-active-zone {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 2px;
  top: 2px;
  left: 2px;
  right: 2px;
  font-family: "Maven Pro", sans-serif;
  align-items: center;
  justify-content: center;
  color: #146a9f;
  font-size: 22px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(6px);
  outline: 1px dashed #cbcbcb;
  transition: all 0.4s;
  z-index: 1;

  .upload-icon {
    font-size: 60px;
    color: #999999;
    margin-bottom: 10px;
  }

  small {
    font-size: 13px;
    color: #555;
  }
}

.files-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 10px;
  padding-right: 10px;
  position: relative;

  &.mode-list {
    grid-gap: 5px;
    display: flex;
    flex-direction: column;

    .file-item {
      flex-direction: row;
      padding: 0 7px;
      align-items: center;
      border-radius: 7px;

      .icon {
        font-size: 20px;
      }

      .file-image {
        min-height: 30px;
        height: 100%;
        margin-right: 5px;
        border-radius: 3px;
        max-width: 30px;
      }

      .file-name {
        padding: 2px;
        text-overflow: ellipsis;
      }

      .file-caption {
        line-height: 12px;
        display: inline-block;
      }
    }
  }

  .file-item {
    background: var(--backgroung-color);
    outline: 2px solid var(--backgroung-color);
    outline-offset: -2px;
    display: flex;
    flex-direction: column;
    border-radius: 11px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      outline-color: var(--primary-color);
      .file-image {
        background-position: bottom center;
      }
    }

    &.selected {
      outline-color: var(--primary-color);
    }

    .icon {
      font-size: 35px;
      flex: 1;
      margin: 0 auto;
    }

    .file-image {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      flex: 1;
      background: #ffffff no-repeat top center;
      background-size: cover;
      min-height: 100px;
      border-radius: 6px;
      overflow: hidden;
      transition: background-position 6s;
    }

    .file-item-info {
      background: var(--backgroung-color);
      padding: 5px;
    }

    .file-name {
      overflow: hidden;
      white-space: nowrap;
      display: block;
      text-overflow: ellipsis;
    }

    .file-caption {
      font-size: 11px;
      color: #999999;
      display: block;
    }
  }
}

@media screen and (max-width: 500px) {
  .container-header-wrapper {
    flex-direction: column;

    .name {
      margin-bottom: 10px;
    }
  }
}

.dark-mode {
  .container-header-wrapper {
    border-bottom: 1px solid #454545;
  }

  .drop-active-zone {
    color: #5aaad9;
    background: rgba(0, 0, 0, 0.2);
    outline-color: #444444;
  }

  .files-container {
    .file-item {
      &:hover {
        background: #111111;
      }

      &.selected {
        background: #000000;
      }
    }
  }
}
