.files-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 10px;
  position: relative;

  &.mode-list {
    grid-gap: 5px;
    display: flex;
    flex-direction: column;

    .file-item {
      flex-direction: row;
      padding: 0 7px;
      align-items: center;
      border-radius: 7px;

      .icon {
        font-size: 24px;
        height: 24px;
        width: 24px;
      }

      .file-image {
        min-height: 30px;
        height: 100%;
        margin-right: 5px;
        border-radius: 3px;
        max-width: 30px;
      }

      .file-caption {
        display: inline-block;
        user-select: none;
      }
    }
  }

  .file-item {
    background: var(--background-color-body);
    font-size: 13px;
    outline: 2px solid var(--background-color);
    outline-offset: -2px;
    display: flex;
    flex-direction: column;
    border-radius: 11px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      outline-color: var(--primary-color);

      .file-image {
        background-position: bottom center;
      }
    }

    &.selected {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      outline-color: var(--primary-color);
    }

    .icon {
      font-size: 40px;
      height: 40px;
      width: 40px;
    }

    .file-image {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      background: no-repeat top center;
      background-size: cover;
      min-height: 100px;
      border-radius: 6px;
      overflow: hidden;
      transition: background-position 6s;
    }

    .file-item-info {
      padding: 5px;
    }

    .file-name {
      overflow: hidden;
      white-space: nowrap;
      line-height: 22px;
      display: block;
      text-overflow: ellipsis;
      user-select: none;
    }

    .file-caption {
      display: flex;
      user-select: none;
      font-size: 11px;
      color: #999999;
      align-items: center;

      svg {
        margin-right: 5px;
      }
    }
  }
}

.dark-mode {
  .container-header-wrapper {
    border-bottom: 1px solid #454545;
  }

  .drop-active-zone {
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    outline-color: #444444;
  }

  .files-container {
    .file-item {
      &:hover {
        background: #111111;
      }

      &.selected {
        background: #000000;
      }
    }
  }
}
