
.app-content * {
  outline: 1px solid rgba(0, 255, 0, 0.2);
}

.app-content {
  outline: 2px solid rgba(0, 255, 0, 0.2);
  width: 1200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex: 1;
}

.dark-mode {
  .app-content {
    outline-color: rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 1200px) {
  .app-content {
    margin: 0;
    width: auto;
  }
}


@media screen and (max-width: 700px) {
  .app-content {
    margin: 0;
    width: auto;
    border: none;
    border-radius: 0;
    flex-direction: column;
  }
}
