.app-content {
  background: var(--background-color);
  margin: 10px 10px 10px 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
  border: 1px solid var(--primary-color-lighter);
  border-radius: 12px;
  position: relative;
  display: flex;
  flex: 1;
}

.dark-mode {
  .app-content {
    border: 1px solid var(--primary-color-dark);
  }
}

@media screen and (max-width: 700px) {
  .app-content {
    margin: 10px;
    flex-direction: column;
  }
}
