.app-content {
  background: var(--background-color);
  margin: 15px 15px 15px 5px;
  outline: 5px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
  display: flex;
  flex: 1;
}

.dark-mode {
  .app-content {
    outline-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 700px) {
  .app-content {
    margin: 0;
    border: none;
    border-radius: 0;
    flex-direction: column;
  }
}
