.alert-message-wrapper {
  display: flex;
  border-radius: 11px;
  margin: 10px 0;
  padding: 7px;
  align-items: center;

  .icon {
    border-radius:7px;
    min-width: 35px;
    min-height: 35px;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    background: rgba(255, 255, 255, 0.7);
  }

  .content {
    flex: 1;
    font-weight: 600;
    font-size: 14px;
  }

  .caption {
    font-size: 13px;
    margin-top: 3px;
    opacity: 0.6;
  }

  &.float {
    position: fixed;
    top: 20px;
    left: 50%;
    max-width: 400px;
    transform: translateX(-50%);
    z-index: 100;
  }

  &.warning {
    background: #ffb731;
    color: #000;

  }

  &.error {
    background: #ffcccc;
    color: #000;
    .icon {
      color: #ff0000;
    }
  }

  &.success {
    background: #62e63d;
    color: #000;
  }

  &.info {
    background: #c8e6ff;
  }
}
