.firewall-config-container {
  position: relative;
}

.controls {
  background-color: var(--background-color-body);
  position: sticky;
  top: 60px;
  text-align: center;
  z-index: 20;
  padding-bottom: 10px;
}
