.loader-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
}
.all-page-loading .loader-container {
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 101;
}
.all-page-loading .loader-container .ant-spin {
  display: none;
}
.loader-container.hide {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: loadingFadeOut;
}
.loader-container.show {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: loadingFadeIn;
}
.loader-container.overlay {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.1);
}
.loader-container span {
  display: block;
  margin-top: 10px;
}

@keyframes loadingFadeIn {
  from {
    opacity: 0;
    display: flex;
  }
  to {
    opacity: 1;
  }
}

@keyframes loadingFadeOut {
  from {
    opacity: 1;
    display: flex;
  }
  98% {
    opacity: 0;
  }
  to {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
