.attributes-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  .attribute-item {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 2px 5px;
    border-radius: 5px;
    background: var(--background-color-body);
    font-weight: 500;
    font-size: 12px;

    .attribute-value {
      max-width: 70px;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
