.module-content-wrapper {
  flex: 1;
  margin: 15px;
  overflow: auto;
  position: relative;
  border-radius: 11px;

  &.opaque {
    background: var(--backgroung-color);
  }
}

@media screen and (max-width: 500px) {
  .module-content-wrapper {
    flex-direction: column;
    height: calc(100dvh - 90px);
    //height: 100dvh;
  }
}
