.file-detail-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;

  .footer {
    text-align: center;
    margin: 20px 0;
    opacity: 0.4;
    font-size: 12px;
  }
}

.file-detail-container {
  padding: 30px;
  width: 100%;
  max-width: 1200px;
  background: var(--backgroung-color);
  border-radius: 12px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);

  .timeline-item {
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background: #f6f6f6;
    }
  }

  .title {
    margin-bottom: 5px;
    font-size: 18px;
  }

  small {
    opacity: 0.5;
  }

  .logo {
    width: auto;
    max-height: 50px;
  }

  .file-container {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    .file-preview-item {
      background: var(--backgroung-color-body);
      justify-content: center;
      text-align: center;
      padding: 60px 20px;
      border-radius: 12px;

      .icon {
        font-size: 55px;
        display: inline-block;
        margin-bottom: 10px;
      }
    }

    .file-description {
      display: flex;
      margin-bottom: 15px;
      align-items: center;
      justify-content: space-between;
    }

    .pdf-viewer-iframe {
      box-sizing: border-box;
      border: none;
      height: 120lvh;
    }

    img {
      width: auto;
      max-width: 65vw;
      max-height: 70vh;
    }
  }
}
