.file-detail-wrapper {
  .footer {
    text-align: center;
    margin: 20px 0;
    opacity: 0.4;
    font-size: 12px;
  }
}
.file-detail-container {
  padding: 30px;
  margin: 20px auto;
  width: 100%;
  max-width: 1200px;
  background: var(--backgroung-color);
  border-radius: 12px;

  .title {
    margin-bottom: 0;
  }

  small {
    opacity: 0.5;
  }

  .logo {
    width: 120px;
    margin-bottom: 15px;
  }

  .file-container {
    margin-bottom: 15px;
  }

  .video-player {
    width: 100%;
  }
  .audio-player {
    margin-bottom: 20px;
    width: 100%;
  }
}
