.resource-info-container {
  position: relative;

  .hardware-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 5px;
    background: var(--background-color-body);

    svg {
      margin-right: 12px;
      font-size: 25px;
    }
  }

  .server-log-output {
    .line {
      display: block;
      border-bottom: 1px dashed var(--border-color);
      padding: 6px 0;

      span {
        opacity: 0.6;
        font-size: 11px;
        display: block;
      }
    }
  }
}
