@iconSize: 20px;

.navigation-wrapper {
  min-width: var(--main-nav-width);
  max-width: var(--main-nav-width);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 100dvh;
  z-index: 3;

  animation-duration: .7s;
  animation-timing-function: cubic-bezier(0.01, 1.15, 0.8, 0.99);
  animation-fill-mode: both;
  animation-name: sidebarFadeIn;

  .head {
    margin: 12px 0 0 0;
    padding: 0 10px;

    .logo-square {
      transition: all 0.3s;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 47px;
      padding: 5px;
      margin-bottom: 10px;
      border-radius: 8px;

      &:hover {
        background: var(--background-color);
      }

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  .bottom-nav {
    margin: 10px 0;
    text-align: center;

    .user-tool {
      border: 1px solid rgba(255, 255, 255, 0.1);
      display: flex;
      width: 35px;
      height: 35px;
      font-size: 18px;
      align-items: center;
      justify-content: center;
      border-radius: 35px;
      cursor: pointer;
      transition: all 0.4s;

      &.danger {
        background: rgba(255, 0, 0, 0.3);
        border-color: #ff0000;
      }

      &.alert {
        background: rgba(255, 0, 0, 0.3);
        border-color: #ff0000;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }

      svg {
        width: 18px;
        height: 18px;
      }
    }

    .user-menu {
      text-align: left;
      cursor: pointer;
      margin: 10px 10px 0 10px;
      border-radius: 60px;
      background: rgba(255, 255, 255, 0.1);
      padding: 3px 5px 3px 3px;
      display: flex;
      align-items: center;
      text-overflow: ellipsis;
      transition: all 0.3s;

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }

      .avatar {
        width: 30px;
        height: 30px;
        margin-right: 5px;
      }

      div {
        flex: 1;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 13px;

        small {
          display: block;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }

  nav {
  }

  .version-info {
    opacity: 0.4;
    font-size: 11px;
    text-align: center;
    margin-bottom: 10px;
  }
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .notification-badge {
    color: #ffffff;
    background: var(--primary-color);
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 10px;
  }

  li {
    .item {

      .divider {
        display: flex;
        padding: 3px 15px 3px 20px;
        margin: 10px 0 5px 0;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 600;
        opacity: 0.55;
        align-items: center;
        justify-content: space-between;
        transition: all 0.3s;
        cursor: pointer;
        gap: 10px;

        .line {
          display: block;
          border-bottom: 1px solid var(--border-color-active);
          opacity: 0.3;
          flex: 1;
        }

        &:hover {
          opacity: 1;
          background: rgba(0, 0, 0, 0.1);
        }
      }

      a {
        display: flex;
        align-items: center;
        padding: 10px 10px 10px 20px;
        margin: 0 10px 0 0;
          border-radius: 0 20px 20px 0;
        flex: 1;
        color: #333;
        opacity: 0.7;
        transition: all 0.3s;
        position: relative;

        &:before {
          content: '';
          width: 3px;
          height: 15px;
          background: #ffffff;
          position: absolute;
          left: -3px;
          transition: all 0.3s cubic-bezier(0.01, 1.15, 0.8, 0.99);
        }

        &:hover {
          background: var(--background-color-body);
          color: #000;
        }
        &.active {
          color: #ffff;
          background: var(--primary-color);
          opacity: 1;
        }

        &:active {
          background: rgba(0, 0, 0, 0.7);
        }

        &.open {
          background: rgba(0, 0, 0, 0.3);
          border-radius: 5px 5px 0 0;
        }

        .label {
          display: block;
          font-size: 13px;
          flex: 1;
        }

        .icon, svg {
          font-size: @iconSize;
          width: @iconSize;
          min-width: @iconSize;
          line-height: @iconSize;
          margin-right: 10px;
          display: inline-block;
          stroke-width: 1.5;
        }
      }

      .open-button {
        transition: all 0.3s;

        svg {
          height: 15px;
          margin: 0;
        }

        &.open {
          transform: rotate(180deg);
        }
      }
    }

    ul {
      list-style: none;
      transition: all 0.3s ease-out;
      max-height: 0;
      overflow: hidden;
      margin: 0;
      padding: 0;
      position: relative;

      &.open {
        max-height: 300px;
      }
    }
  }
}

.dark-mode {
  .navigation-list {
    li {
      a {
        color: #d3d3d3;
        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .navigation-wrapper {
    position: fixed;
    z-index: 5;
    top: 0;
    transform: translateX(-100%);
    animation-name: none;

    &.open {
      transform: translateX(0);
    }
  }
}
