@iconSize: 20px;

.navigation-wrapper {
  background: linear-gradient(#ffffff, #f1f1f1);
  min-width: var(--main-nav-width);
  max-width: var(--main-nav-width);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 100dvh;
  z-index: 2;
  box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.2);

  animation-duration: .7s;
  animation-timing-function: cubic-bezier(0.01, 1.15, 0.8, 0.99);
  animation-fill-mode: both;
  animation-name: sidebarFadeIn;

  .head {
    margin: 12px 10px;
    border-bottom: 1px solid var(--border-color);

    .logo-square {
      transition: all 0.3s;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      padding: 5px 0 5px 0;
      margin-bottom: 10px;

      &:hover {
        border-radius: 10px;
        background: var(--backgroung-color-body);
      }

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  .bottom-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

    .user-tool {
      border: 1px solid var(--border-color);
      display: flex;
      width: 35px;
      height: 35px;
      font-size: 18px;
      align-items: center;
      justify-content: center;
      border-radius: 35px;
      cursor: pointer;
      transition: all 0.4s;

      &:hover {
        background: var(--backgroung-color-higlight);
      }

      svg {
        width: 18px;
        height: 18px;
      }
    }

    .avatar {
      cursor: pointer;
      margin-top: 10px;
      background: var(--backgroung-color-body);
      width: 100%;
      padding: 10px;
      display: flex;
      align-items: center;

      & > div {
        flex: 1;
        margin-left: 10px;

        small {
          display: block;
        }
      }
    }
  }

  nav {
    flex: 1;
    overflow: auto;

  }

  .version-info {
    color: #555555;
    opacity: 0.7;
    font-size: 11px;
    text-align: center;
    margin-bottom: 10px;
  }
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    .item {
      display: flex;

      a {
        display: flex;
        align-items: center;
        padding: 8px 10px;
        margin: 3px 0 3px 5px;
        flex: 1;
        color: #444;
        transition: all 0.3s;
        border-radius: 9px 0 0 9px;
        position: relative;

        &:hover {
          background: rgba(0, 0, 0, 0.07);
        }

        &.active {
          opacity: 1;
          font-weight: 600;
          //background: var(--background-color-body);
          //color: var(--primary-color);
          background: var(--primary-color);
          color: #ffffff;
          box-shadow: 3px 5px 16px rgba(0, 0, 0, 0.2);

          .icon, svg {
          }
        }

        .label {
          display: block;
          font-size: 13px;
          flex: 1;
        }

        .icon, svg {
          font-size: @iconSize;
          width: @iconSize;
          min-width: @iconSize;
          line-height: @iconSize;
          margin-right: 10px;
          display: inline-block;
        }
      }

      .open-button {
        transition: all 0.3s;

        svg {
          height: 13px;
          margin: 0;
        }

        &.open {
          transform: rotate(180deg);
        }
      }
    }

    ul {
      background: var(--backgroung-color-body);
      list-style: none;
      transition: all 0.3s ease-out;
      padding: 0 0;
      max-height: 0;
      overflow: hidden;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        border: dashed var(--border-color-active);
        border-width: 0 0 1px 1px;
        border-radius: 0 0 0 6px;
        bottom: 20px;
        left: 22px;
        width: 10px;
        top: 0;
      }

      &.open {
        margin: 0;
        padding: 5px 0;
        max-height: 300px;
      }

      li {
        .item {
          a {
            margin: 0 0 0 30px;
            padding: 5px 0 5px 10px;

            .label {
              font-size: 12px;
              line-height: 15px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .navigation-wrapper {
    position: fixed;
    z-index: 5;
    top: 0;
    transform: translateX(-110%);
    animation-name: none;

    &.open {
      transform: translateX(0);
    }
  }
}


/* width */
.navigation-wrapper::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.navigation-wrapper::-webkit-scrollbar-track {
  background: #efefef;

}

/* Handle */
.navigation-wrapper::-webkit-scrollbar-thumb {
  background: #dfdfdf;
  border-radius: 10px;
}

/* Handle on hover */
.navigation-wrapper::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

.dark-mode {
  .navigation-wrapper {
    background: linear-gradient(#202020, #191919);
    border-right: 1px solid #232323;
  }

  .navigation-list {
    li {
      a {
        color: #999;

        &:hover {
          color: #dfdfdf;
          background: rgba(255, 255, 255, 0.07);
        }
      }

      ul {
        &:before {
          border-color: #4e4e4e;
        }
      }
    }
  }
}
