@iconSize: 18px;

.navigation-wrapper {
  background: var(--backgroung-color);
  min-width: var(--main-nav-width);
  max-width: var(--main-nav-width);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 100dvh;
  z-index: 2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  .head {
    margin: 15px 0 0 0;

    .logo-square {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      margin: 0 8px 15px 8px;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  .bottom-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

    .user-tool {
      border: 1px solid var(--border-color);
      display: flex;
      width: 35px;
      height: 35px;
      font-size: 18px;
      align-items: center;
      justify-content: center;
      border-radius: 35px;
      cursor: pointer;
      transition: all 0.4s;

      &:hover {
        background: var(--backgroung-color-higlight);
      }

      svg {
        width: 18px;
        height: 18px;
      }
    }

    .avatar {
      cursor: pointer;
      margin-top: 10px;
      background: var(--backgroung-color-body);
      width: 100%;
      padding: 10px;
      display: flex;
      align-items: center;

      & > div {
        flex: 1;
        margin-left: 10px;

        small {
          display: block;
        }
      }
    }
  }

  nav {
    flex: 1;
    overflow: auto;

  }

  .version-info {
    color: #555555;
    opacity: 0.7;
    font-size: 11px;
    text-align: center;
    margin-bottom: 10px;
  }
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    .item {
      display: flex;

      a {
        display: flex;
        align-items: center;
        padding: 7px 15px;
        margin: 3px 5px;
        flex: 1;
        color: #444;
        transition: all 0.3s;
        border-radius: 45px;

        .label {
          font-weight: 500;
          display: block;
          font-size: 13px;
          line-height: 13px;
          flex: 1;
        }

        .icon, svg {
          font-size: @iconSize;
          width: @iconSize;
          min-width: @iconSize;
          line-height: @iconSize;
          margin-right: 10px;
          display: inline-block;
        }

        &:hover {
          background: rgba(0, 0, 0, 0.07);
        }

        &.active {
          opacity: 1;
          background: var(--primary-color);
          color: #ffffff;
          position: relative;

          .icon {
          }
        }
      }

      .open-button {
        transition: all 0.3s;

        svg {
          height: 13px;
          margin: 0;
        }

        &.open {
          transform: rotate(180deg);
        }
      }
    }

    ul {
      background: var(--backgroung-color-body);
      list-style: none;
      transition: all 0.3s ease-out;
      padding: 0 0;
      max-height: 0;
      overflow: hidden;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        border-left: 1px dashed var(--border-color-active);
        bottom: 0;
        left: 26px;
        top: 0;
      }

      &.open {
        margin: 0;
        padding: 5px 0;
        max-height: 300px;
      }

      li {
        .item {

          a {
            margin-left: 33px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .navigation-wrapper {
    position: fixed;
    z-index: 5;
    top: 0;
    transform: translateX(-100%);

    &.open {
      transform: translateX(0);
    }
  }
}


/* width */
.navigation-wrapper::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.navigation-wrapper::-webkit-scrollbar-track {
  background: #efefef;

}

/* Handle */
.navigation-wrapper::-webkit-scrollbar-thumb {
  background: #dfdfdf;
  border-radius: 10px;
}

/* Handle on hover */
.navigation-wrapper::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

.dark-mode {
  .navigation-wrapper {
    border-right: 1px solid #2c2c2c;
  }
}
