
.service-usage-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 15px;
  overflow: hidden;

  .icon {
    font-size: 25px;

  }

  small {
    display: block;
    line-height: 13px;
    color: #5d869d;
  }
}
