.container-selector-wrapper {
  background: var(--background-color);
  border-radius: 8px;
  overflow: auto;
  border: 1px solid var(--border-color);
  height: 200px;

  .container-selector-scroll {
    display: flex;
    flex-wrap: nowrap;
  }

  .container-level {
    width: 150px;
    min-height: 200px;
    max-height: 200px;
    overflow: auto;
    border-right: 1px solid var(--border-color);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.04);

    .container-name {
      padding: 8px 8px;
      cursor: pointer;
      transition: all 0.3s;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;

      span {
        flex: 1;
      }

      &:hover {
        background: var(--background-color);
      }

      &.open {
        background: var(--border-color);
      }

      &.selected {
        background: var(--primary-color);
        font-weight: 600;
        color: #ffffff;
      }


      &:not(:last-child) {
        border-bottom: 1px dashed var(--border-color);
      }
    }
  }
}
