.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  .nav-list-item {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    padding: 0 15px;

    a {
      flex: 1;
      margin: 0 -15px;
      padding: 8px 15px;
      display: flex;
      align-items: center;
      color: #666;
      transition: all 0.3s;

      .avatar {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }

      &:hover {
        background: var(--background-color-higlight);
      }

      &.active {
        background: var(--background-color-higlight);
        color: var(--primary-color);

        &:after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          width: 4px;
          height: 30px;
          background: var(--primary-color);
          border-radius: 4px 0 0 4px;
        }
      }

      span.icon {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
        width: 20px;

        & > * {
          vertical-align: middle;
          font-size: 25px;
          line-height: 25px;
        }
      }

      span.label {
        display: flex;
        flex-direction: column;
        font-weight: 500;

        .caption {
          display: block;
          font-size: 11px;
          margin-top: 2px;
          opacity: 0.6;
        }
      }
    }
  }
}
