@import 'Assets/LinearIcons/style.css';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;

  --background-color-input: #f2f2f2;
  --background-color-body: #f4f4f4;
  --mobile-breakpoint: 700px;

  --background-color: #ffffff;
  --background-active-color: #009987;
  --background-color-higlight: #e9ebed;
  --text-color: #666;
  --text-title-color: #000;
  --border-color: #f1f1f1;
  --border-color-body: #dcdcdc;
  --border-color-active: #949698;
  --border-radius: 10px;
  --main-nav-width: 220px;
  --shadow-color: rgba(0, 0, 0, 0.1);

  --font-title: "Red Hat Text";
  --font-code: "JetBrains Mono";
}

html.dark-mode {
  color: #e5e5e5;
  --background-color: #1b1b1b;
  --background-color-input: #313131;
  --background-active-color: #181818;
  --background-color-body: #26282b;
  --background-color-higlight: #1c1c1c;
  --border-color: #333333;
  --text-color: #dfdfdf;
  --text-title-color: #ffffff;
  --border-color-body: #3c3c3c;
  --shadow-color: rgba(0, 0, 0, 0.5);


  /* Track */

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  /* Handle */

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }

  /* Handle on hover */

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
  }
}

#root {
  display: flex;
  justify-content: stretch;
}

:root {
  background: radial-gradient(circle, var(--background-color-body) 70%, var(--primary-color) 240%);
}

html.dark-mode {
  background: radial-gradient(circle, #26282b 70%, var(--primary-color) 240%);
}

body {
  height: 100%;
  font-family: var(--font-title), sans-serif;
  //background: var(--background-color-body);
  //background: #ff9999;
  //background: radial-gradient(circle, var(--background-color-body) 70%, var(--primary-color) 240%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  color: #666;
  font-size: 14px;
}

p {
  line-height: 20px;
}

a {
  text-decoration: none;
  color: #0063b5;
}

.dark-mode a {
  color: #34a1ff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-title), sans-serif;
  color: var(--text-title-color);
  font-weight: 600;
}

small {
  opacity: 0.5;
  font-weight: 500;
  line-height: 13px;
  display: block;
}

.toast-content {
  color: #ffffff !important;

  h1, h2, h3 {
    color: #ffffff !important;
  }
}

.error-name {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  img {
    width: 100px;
    display: block;
    margin-bottom: 20px;
  }

  span {
    font-weight: 400;
    font-size: 13px;
    display: block;
    opacity: 0.6;
    margin-top: 5px;
  }
}

code {
  font-family: var(--font-code), monospace;
}

.grid-layout-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.button-icon {
  font-size: 17px;
  line-height: 17px;
  height: 17px;
  vertical-align: text-bottom;
}

.react-icons {
  vertical-align: middle;
}

.button-icon-alone {
  font-size: 18px !important;
  line-height: 18px !important;
}

.deploy-alert-wrapper {
  background: #ffffff url("Assets/bg_deploy@2x.png") no-repeat;
  background-size: contain;
}


/* Track */
::-webkit-scrollbar-track {
  background: #dcdcdc;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bebebe;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--ant-primary-color);
}

.ant-form-item-label {
  padding-bottom: 3px !important;
}

.rcs-inner-handle {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

@keyframes contentFadeInZoom {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes contentFadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes sidebarFadeIn {
  from {
    opacity: 0;
    transform: translateX(-90px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  align-content: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
