:root {
  color: #444;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --backgroung-color: #ffffff;
  --backgroung-active-color: #F8F8F8;
  --backgroung-color-input: #f2f2f2;
  --backgroung-color-body: #F6F8FB;
  --border-color: #eaeaea;
  --font-title: 'Maven Pro', sans-serif;
}

body {
  margin: 0;
  background: var(--backgroung-color-body);
  font-family: Barlow, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
}

#root {
  display: flex;
  flex-direction: column;
}

.error-name {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  opacity: 0.4;

  small {
    opacity: 0.7;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.button-icon {
  margin-right: 8px;
  font-size: 17px;
  line-height: 17px;
  vertical-align: text-bottom;
}

.button-icon-alone {
  font-size: 18px !important;
  line-height: 18px !important;
  margin-top: 3px;
}

.deploy-alert-wrapper {
  background: #ffffff url("Assets/bg_deploy@2x.png") no-repeat;
  background-size: contain;
  padding-left: 140px;
  width: 600px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #dcdcdc;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bebebe;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--ant-primary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #e5e5e5;
    --backgroung-color: #121212;
    --backgroung-color-input: #252525;
    --backgroung-active-color: #181818;
    --backgroung-color-body: #222222;
    --border-color: #1e1e1e;

  }

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #222222;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #343434;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--ant-primary-color);
  }
}
