.invoice-resumen-container {
  margin: 10px 0;
  .invoice-resumen-item {
    display: flex;

    &.total {
      margin-top: 15px;
      font-weight: 700 !important;
    }

    .spacer {
      flex: 1;
      border-bottom: 2px dotted #ccc;
      margin: 0 10px;
    }
  }
}
